.navbar{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.navbar .row{
    flex-direction: row;
    justify-content: center;
}

.navbar_logo{
    margin-right: auto;
    align-items: center;
    cursor: pointer;
}
.navbar_logo p{
    color: rgba(50, 48, 48,.6);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    transform: color 0.3ms ease;
}
.navbar_logo p:hover{
    color: rgba(50, 48, 48,.7);
}

.navbar_logo span{
    color: rgba(48, 44, 44,.7);
    transform: color 0.3ms ease;
}
.navbar_logo span:hover{
    color: rgba(48, 44, 44,.8);
}

.navbar_links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.navbar_links a{
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    transform: text 0.3ms ease;
}

.navbar_links a:hover{
    font-weight: 400;
}

.navbar_actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    gap: 20px;
}
.navbar_actions a{
    color: black;
    text-transform: uppercase;
}